body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.App-dark,
.App-light {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.tier-toggle-btn {
    box-shadow: none !important;
    padding: 8px 5px !important;
}

.toggle-style {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.bar-chart-container {
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar-chart-container-mobile {
    height: 400px;
    margin-top: 30px !important;
    margin-bottom: 30px;
}

.three-card-col {
    margin: 20px 5px 20px 5px;
}

.ex-address {
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#account-form {
    max-width: 350px;
}

#account-reset-btn {
    margin: 10px 0 20px 10px;
}

.nav-styles {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

.icon {
    color: #4f616c;
}

.App-light {
    background-color: #eeeeee;

    .nav-styles {
        background-color: #dddddd;
        border-bottom: 1px solid #374249;
    }

    .footer {
        background-color: #dddddd;
    }

    .ex-address {
        color: #374249;
    }

    .header-color {
        color: #374249;
    }
}

.App-dark {
    .nav-styles {
        background-color: #282B2F;
        border-bottom: 1px solid #374249;
    }

    .footer {
        background-color: #282B2F;
    }

    .ex-address {
        color: #b4dffd;
    }

    .header-color {
        color: #b4dffd;
    }
}
