$bg-light: #eeeeee;
$footer-bg-light: #dddddd;
$text-header-light: #374249;

$footer-bg-dark: #282B2F;
$text-header-dark: #b4dffd;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.App-dark,
.App-light {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Football-logo {
    height: 100px;
    width: 100px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Football-logo {
        animation: Football-logo-spin infinite 1s linear;
    }
}

@keyframes Football-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.accordian-container {
    margin: '25px 0px'
}

.accordian-content {
    margin: 0;
    padding: 0
}

#content {
    flex: 1;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.footer {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.tier-toggle-btn {
    box-shadow: none !important;
    padding: 8px 5px !important;
}

.toggle-style {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.bar-chart-container {
    height: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar-chart-container-mobile {
    height: 400px;
    margin-top: 30px !important;
    margin-bottom: 30px;
}

.three-card-col {
    margin: 20px 5px 20px 5px;
}

.ex-address {
    font-weight: bold;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#account-form {
    max-width: 350px;
}

#account-reset-btn {
    margin: 10px 0 20px 10px;
}

.nav-styles {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 30px;
}

.App-light {
    background-color: $bg-light;

    .nav-styles {
        background-color: $footer-bg-light;
        border-bottom: 1px solid $text-header-light;
    }

    .footer {
        background-color: $footer-bg-light;
    }

    .ex-address,
    .header-color {
        color: $text-header-light;
    }

}

.App-dark {
    .nav-styles {
        background-color: $footer-bg-dark;
        border-bottom: 1px solid $text-header-light;
    }

    .footer {
        background-color: $footer-bg-dark;
    }

    .ex-address,
    .header-color {
        color: $text-header-dark;
    }

}
